<div class="container px-0 py-5 mb-4 d-flex"> <!--painting pictures -->
  <div class="row">
    <%= render 'shared/requestform' %>
    <div class="container col-4"><!--description & form -->
      <div class="ps-0 pe-4 mb-4"><!--description -->
        <div class="owner-info justify-content-end border-bottom border-secondary mb-3 d-flex align-item-center gap-3">
          <div class="name mr-3">Owner: Ramon Tanuki</div>
          <p class="mb-0"><i class="fa-solid fa-user h3"></i></p>
        </div>
        <div class="description text-center">
          <p><%= @painting.description %></p>
        </div>
      </div>
      <div class="p-4 bg-white"><!--form -->
        <p><%= number_to_currency(@painting.price, {unit: "¥", precision: 0 }) %>/ day</p>
        <p>🌟4.5  <i class="fa-regular fa-comment"></i> 10</p>
        <%= simple_form_for([@painting, @request]) do |f| %>
          <%=  f.label :start_date, class: 'control-label'%>
          <%=  f.date_field :start_date, class:'form-control bg-white'%>
          <%=  f.label :end_date, class: 'control-label'%>
          <%=  f.date_field :end_date, class:'form-control  bg-white mb-3'%>
          <div class="d-grid mx-auto">
            <%= f.submit "Create request", class: "btn btn-primary mb-3" %>
          </div>
        <% end %>
        <div class="d-grid mx-auto">
          <%= link_to "Back to home", root_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
      <div>
        <%= link_to 'Back to my items', owner_paintings_path, class:"btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
</div>
