<div class="container px-0 py-4 mb-4 d-flex"> <!--painting pictures -->
  <div class="row">
    <h2 class="mb-3 ms-3"><%= @painting.title %></h2>
    <%= render 'shared/requestform' %>
    <div class="container col-5 me-4"><!--description & form -->
      <div class="ps-0 pe-4 mb-4"><!--description -->
        <div class="owner-info justify-content-end border-bottom border-secondary mb-3 d-flex align-item-center gap-3 pb-2">
          <div class="name mr-3 mb-0 d-flex align-items-center">Owner: <%= @painting.user.name %></div>
          <div>
            <% if @painting.user.photo.attached? %>
              <img src="<%= cl_image_path(@painting.user.photo.key)%>" class="card-trip-user avatar-bordered" >
            <% elsif @painting.user.avatar %>
              <img src=<%= @painting.user.avatar %> class="card-trip-user avatar-bordered" />
            <% else %>
              <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" class="card-trip-user avatar-bordered" />
            <% end %>
          </div>
        </div>
        <div class="description text-center">
          <p><%= @painting.description %></p>
        </div>
      </div>
      <div class="p-4 bg-white"><!--form -->
        <p><%= number_to_currency(@painting.price, {unit: "¥", precision: 0 }) %>/ day</p>
        <p>🌟4.5 <i class="fa-regular fa-comment"></i> 10</p>
        <div class="total" data-controller="total-price"> <!--totalprice-->
          <%= simple_form_for([@painting, @request]) do |f| %>
            <%=  f.input :start_date, html5: true, class:'form-control bg-white', input_html: { data: { total_price_target: 'start_date', action: 'change->total-price#update' } } %>
            <%=  f.input :end_date, html5: true, class:'form-control  bg-white mb-3', input_html: { data: { total_price_target: 'end_date', action: 'change->total-price#update' } } %>
            <p>
              Total:
              <span class='fw-light' data-total-price-target='price' data-price="<%= @painting.price %>"><%= number_to_currency(@painting.price, {unit: "¥", precision: 0 }) %> / day</span>
            </p>
            <div class="d-grid mx-auto">
              <%= f.submit "Book this painting", class: "btn btn-primary mb-3 text-white" %>
            </div>
          <% end %>
          <div class="d-grid mx-auto" id="overwrite">
            <%= link_to "Back to home", root_path, class: "btn btn-outline-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
