<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "CultureCanvas_2.png" %>
    <% end %>
    <%# <%= image_tag "CanvasCultureColor-1.png", class: "navbar-name" %>
    <div class="justify-content-center" id="overwrite">
      <div class="form-outline">
        <%= form_with url: paintings_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :q,
            params[:q],
            class: "form-control",
            placeholder: "Painting Title"
        %>
          <%= button_tag name: "", class: "btn btn-primary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
      <%# <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button> %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "My rental", "/requests", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="/" class="dropdown-toggle nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My item</a>
            <%# <p class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My item</p> %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Inbox", "/owner/requests", class: "dropdown-item" %>
              <%= link_to "Add painting", "/paintings/new", class: "dropdown-item" %>
              <%= link_to "My items", "/owner/paintings", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <img src="<%= cl_image_path(current_user.photo.key)%>" class="card-trip-user avatar-bordered avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <% elsif current_user.avatar %>
              <img src="<%= current_user.avatar %>" class="card-trip-user avatar-bordered avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <% else %>
              <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" class="card-trip-user avatar-bordered avatar"  id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
