<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "CultureCanvas_2.png" %>
    <% end %>
    <%# <%= image_tag "CanvasCultureColor-1.png", class: "navbar-name" %>
    <div class="input-group justify-content-center">
      <div class="form-outline">
        <%= form_with url: paintings_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :q,
            params[:q],
            class: "form-control",
            placeholder: "Painting Title"
        %>
          <%= button_tag name: "", class: "btn btn-primary" do %>
          <i class="fas fa-search"></i>
          <% end %>

        <% end %>
      </div>
      <%# <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button> %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "icon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My requests", "/requests", class: "dropdown-item" %>
              <%= link_to "Inbox", "/owner/requests", class: "dropdown-item" %>
              <%= link_to "Add painting", "/paintings/new", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
