<div class="card-product mb-4">
  <img src="<%=request.painting.poster_url%>" />
  <div class="card-product-infos pl-5">
    <h2><strong><%=request.painting.title %></strong></h2>
    <p> <strong>Date of submit:</strong> <%=request.created_at.to_date %></p>
    <p> <strong>Rental date:</strong> <%=request.start_date %> <strong>-</strong> <%=request.end_date %></p>
    <p> <strong>Total price:</strong> <%= number_to_currency(((request.end_date-request.start_date).to_i * request.painting.price), {unit: "¥", precision: 0 })  %> </p>
    <div class="alert alert-dark" role="alert"><%= request.status %></div>
    <p> <strong>Owner:</strong> Alan Von Rich</p>
  </div>
</div>
